---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.jsx";
import TravelAndTicketing from "../components/TravelAndTicketing.jsx";
---

<MainLayout title="Bangalore Tourism | Home">
  <Hero />

  <section class="container py-5">
    <h2 class="h3 fw-bold mb-3 text-center text-info">Experience Bangalore</h2>
    <p class="text-center text-light-50 mb-4">
      From royal palaces and lush parks to vibrant food streets and tech parks,
      Bangalore offers something for everyone.
    </p>

    <div class="row g-4 justify-content-center">
      <div class="col-md-4 text-center">
        <div class="card bg-secondary  border-0 h-100">
          <div class="card-body">
            <h5 class="card-title text-primary"><b>Famous Landmarks</b></h5>
            <p class="card-text small">
              Explore Lalbagh, Cubbon Park, Bangalore Palace, Nandi Hills and
              more iconic attractions.
            </p>
            <a href="/places" class="btn btn-outline-light btn-md btn-success">
              View Places
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="card bg-secondary  border-0 h-100 ">
          <div class="card-body">
            <h5 class="card-title text-primary"><b>Local Food</b></h5>
            <p class="card-text small">
              Enjoy Masala Dosa, Donne Biryani, Idli-Vada, filter coffee, and
              street food.
            </p>
            <a href="/food" class="btn btn-outline-light  btn-success btn-md">
              Explore Food
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="card bg-secondary text-gray border-0 h-100">
          <div class="card-body">
            <h5 class="card-title text-primary"><b>City Culture</b></h5>
            <p class="card-text small">
              Discover Bangalore&apos;s unique mix of technology, art,
              festivals, and nightlife.
            </p>
            <a href="/culture" class="btn btn-outline-light btn-success btn-md">
              View Culture
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  

</MainLayout>